@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    list-style: none;
}

body{
    margin-right: 3rem;
    margin-left: 3rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
   
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.nav-links{
    margin-right: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
    position: relative;


}

.nav-links:hover::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 75%;
    height: 2px;
    background: currentColor;
    transform: translateX(-50%);
}


.nav-bar-search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}


.nav-button {
    display: inline-block;
    padding: .5rem 2rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid black;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 1rem;
}

.nav-button:hover {
    background-color: #333;
    color: white;
}



.globe{
    z-index: -1;
    position: absolute;
    top: 80px;
  left: 55%;
  width: 60px;
  height: 60px;

}

.star1{
    z-index: -1;
    position: absolute;
    top: 100px;
  right: 2%;
}

.star2{
    z-index: -1;
    position: absolute;
    bottom: 60px;
    left: 43%;
    width: 50px;
}



.main-section{
    display: flex;
    position: relative;
    margin-top: 2rem;
    gap: 10rem;
    
}

.left-section{
   
}

.hero-image{
   width: 450px;
    
}

.squares{
    position: absolute;
  z-index: -1;
  bottom: -70px;
  left: 120px;

}
    .right-section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    h1{
        margin-top: 4rem;
        font-size: 3rem;
    }

    .p-content{
        text-align: center;
    }

    .main-button-1{
        display: inline-block;
    padding: .5rem 2rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid black;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 1rem;
    }

    .main-button-2{
        display: inline-block;
    padding: .5rem 1rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 1rem;
    }




    .social-links{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }